<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721104807316-qakua9ekqehhhc4tk5nm2pmm4g6pa3m8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721104807316-qakua9ekqehhhc4tk5nm2pmm4g6pa3m8</string>
	<key>API_KEY</key>
	<string>AIzaSyDT83Ar-6q-_7po8iWLkz6ohdCzA2rOSYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>721104807316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theWall</string>
	<key>PROJECT_ID</key>
	<string>thewall-b63e1</string>
	<key>STORAGE_BUCKET</key>
	<string>thewall-b63e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721104807316:ios:bb2a93dd7d26a0f7a0db81</string>
</dict>
</plist>